@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 7</h1>
    <p class="lead">An ASP.NET web app with security</p>
    <p><a href="http://kcho18-wa2017a7.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 7 on Azure &raquo;</a></p>
</div>