@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    480 Haven Street<br />
    Aurora, ON 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    497.489.1546
</address>

<address>
    <strong>Normal Email:</strong>   <a href="mailto:kc007919@gmail.com">kc007919@gmail.com</a><br />
    <strong>Seneca Email:</strong> <a href="mailto:kcho18@myseneca.ca">kcho18@myseneca.ca</a>
</address>