@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 9</h1>
    <p class="lead">For Assignment 9 Azure.</p>
    <p><a href="http://kcho18-wa2017a9.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>