@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6</h1>
    <p class="lead">Assignment 6 is where we work on many to many association and editing current playlist</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment6.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>BlackBoard</h2>
        <p>
            Where you can get Announcements and other information for your classes.
        </p>
        <p><a class="btn btn-default" href="https://my.senecacollege.ca/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_16_1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Int422</h2>
        <p>Wei Song web page for Int422 Classes</p>
        <p><a class="btn btn-default" href="https://scs.senecac.on.ca/~wei.song/int422/int422.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca Email</h2>
        <p>Go to your seneca email.</p>
        <p><a class="btn btn-default" href="http://myseneca.ca/">Learn more &raquo;</a></p>
    </div>
</div>